<div class="alert <%= locals.alertClass %> alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong class="alert-type"><%= locals.type %></strong>
	<span class="alert-message"><%- locals.message %></span>
</div>