<div class="container">
	<div class="card">
		<img class="card-img-top" src="https://scontent.frgn2-1.fna.fbcdn.net/v/t1.0-9/33125027_170307563589497_3496197120900202496_o.jpg?_nc_cat=101&_nc_ht=scontent.frgn2-1.fna&oh=afa42cf5ba54c0a8190b7fcd65f8cf55&oe=5C6DC908" style="height:600px;" alt="Card image cap">
		<div class="card-body">
			<h3 class="card-title font-weight-bold">
				THE FLASHCRUD
			</h3>
			<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Some quick example of Node app.</p>
		</div>
	</div>
</div>
